@model CleaningService.Models.CleaningAPI

@if (Model != null)
{

    <form asp-controller="Create" asp-action="Index" method="post" class="CreateForm">
        <label>ID</label><br />
        <input name="@Model.Id" type="number" requered /><br />

        <label>RumID</label><br />
        <input name="@Model.RoomId" type="number" required /><br />

        <label>PersonalID:</label><br />
        <input name="@Model.StaffId" type="number" required /><br />

        <label>Kommentar:</label><br />
        <input name="@Model.ReportedDamages" type="text" /><br />


        <label>Städstatus:</label>
        <select name="@Model.IsCleaning">
            <option value="false">Nej</option>
            <option value="true">Ja</option>
        </select>
        <br><br>

        <input type="submit" class="btn btn-success" value="Spara" /><br />

        <a href="@Url.Action("Clean", "Home")" class="btn btn-secondary">Tillbaka</a>

    </form>
}