@inject IHttpContextAccessor HttpContextAccessor
@{
    var roleID = HttpContextAccessor.HttpContext?.Session?.GetInt32("UserRole");
    var username = HttpContextAccessor.HttpContext?.Session?.GetString("Username");
    bool isHomePage = ViewData["Title"]?.ToString() == "Startsida";
}

@model List<CleaningAPI>?;

@if (roleID == 1) {
    <a asp-controller="Create" asp-action="Index">
        <button type="submit" class="GoToCreate">Skapa</button>
    </a>
}
<div class="cleantable">
    @if (Model == null || Model.Count == 0) {
        <tr><p>No Task found</p></tr>
    }else{
        
        <div class="rowmain">
                @foreach (var t in Model)
                {
                <div class="rowtest">
                        <div class="card card-top shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h2 class="mb-0">Rum: @t.RoomId</h2>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><strong>Task ID:</strong> @t.Id</li>
                                    <li><strong>Staff:</strong> @t.StaffId</li>
                                    <li><strong>Cleaning Status:</strong> @t.IsCleaning</li>
                                    <li><strong>Damages: </strong>@t.ReportedDamages</li>
                                </ul>
                            <button>Update</button>
                            <button>Delete</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
    }
</div>